@model PTL.ViewModels.RegionUpdateRequest

@{
    ViewData["Title"] = "Edit";
}

<div class="modal fade" id="addRegion">
    <div class="modal immodal" style="overflow: hidden" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="panel-heading">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="ModalTitle">Cập nhật Vùng Miền</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <form asp-action="Edit" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="OrdinalNumber" class="control-label">Stt<span style='color:red'>*</span></label>
                            <input asp-for="OrdinalNumber" class="form-control" required />
                            <span asp-validation-for="OrdinalNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Code" class="control-label">Mã<span style='color:red'>*</span></label>
                            <input asp-for="Code" class="form-control" required />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Tên<span style='color:red'>*</span></label>
                            <input asp-for="Name" class="form-control" required />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Effect" class="control-label">Hiệu lực<span style='color:red'>*</span></label>
                            <div>
                                 @if(Model.Effect == 0)
                                {
                                    <label class="radio-inline"><input type="radio" asp-for="Effect" name="Effect" value="0" checked>không</label>
                                }
                                else
                                {
                                    <label class="radio-inline"><input type="radio" asp-for="Effect" name="Effect" value="0">không</label>
                                }
                                @if (Model.Effect == 1)
                                {

                                    <label class="radio-inline"><input type="radio" asp-for="Effect" name="Effect" value="1" checked>Có</label>
                                }
                                else
                                {
                                    <label class="radio-inline"><input type="radio" asp-for="Effect" name="Effect" value="1" >Có</label>
                                }
                               
    
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="DateCreated" class="control-label"></label>
                            <input asp-for="DateCreated" class="form-control" required />
                            <span asp-validation-for="DateCreated" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Note" class="control-label"></label>
                            <input asp-for="Note" class="form-control" />
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-primary mr-5px" type="submit"><strong>Chấp nhận</strong></button>
                            <button class="btn btn-sm btn-primary mr-5px" type="button"><strong>Bỏ qua</strong></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
